<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <i class="bi bi-{{pageIcon}} me-2"></i>
            {{pageTitle}}
        </span>
        <div class="ms-auto d-flex align-items-center">
            <span class="me-3">Welcome, <strong>{{user.Username}}</strong></span>
            <div class="user-avatar">
                {{user.Username.0}}
            </div>
        </div>
    </div>
</nav>
